@model int
@{
    ViewData["Title"] = "Default";
}
<li class="nav-item position-relative">
    <a class="nav-link d-flex align-items-center gap-2 text-dark fw-semibold" asp-controller="Order" asp-action="Index">
        <i class="fas fa-shopping-basket fs-5 text-primary"></i>
        <span>Cart</span>
        <span class="badge bg-danger rounded-pill">@Model</span>
        <span class="text-muted small">@($"{ViewBag.Total:0.##}") EGP</span>
    </a>
</li>
